@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(65, 184, 131, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 3%;
  min-width: 30%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.new-task-container {
  max-width: 60vh;
  width: 100%;
  background-color: #fff;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}


.new-task-container input {
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 1em;
  font-weight: 500;
}

.new-task-container input:focus { 
  outline: none;
  border-color: #41b883;
}

.new-task-button {
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #41b883;
  color: #fff;
  padding: 1em;
  margin-left: 12px;
  margin-right: 20px;
  cursor: pointer;
}

.tasks-container {
  background-color: #fff;
  padding: 3%;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.task-item i {
  background-color: #41b883;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
}

.task-item i:hover {
  cursor: pointer;
}

/* Utilities */
.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}

h1 {
  text-align: center;
  padding: 1em;
}
